# Maven
target/
*.log

# Maven wrapper (KEEP this file)
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.vscode/
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# OS
.DS_Store